/* GLOBAL */
html{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  background-color: black;
}
header{
  background-color: #1a1a1a;
}
nav{
  color: white;
  text-align: center;
  background-color: #c03328;
  line-height: 95px;
  font-size: 25px;
}
article{
  background-color: white;
}
h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 46px;
  color: #c03328;
}

figure{
  text-align: center;
  font-size: 14px;
}
footer{
  text-align: center;
  background-color: #4a4a4a;
  color: white;
  font-size: 12px;
}
/* ESPECÍFICO */

.tl{
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 250px;
  line-height: 250px;
}
.LgM{
  font-size: 25px;
}
